*{
    margin: auto;
    padding: 0px;
}
 
body {
    background-image: url("assets/images/backgroundalt.png");
    margin: auto;
}

h1 {
    margin-left: 250px;
    border: 1px solid #cccccc;
    float: left;
    padding: 21px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav {
    border:1px solid #ccc;
    border-width: 1px 0;
    border-bottom-width: 2px;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color: white;
    
}
.nav li{
    display:inline;
    color: darkgrey;
}

.nav a{
    display:inline-block;
    padding:30px;
    color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.about {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 150px;
    background-color: white;
}

h2 {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    color: #4aaaa5;
    padding-bottom: 15px;
    border-bottom: 2px solid darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif
}

figure {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 150px;
    background-color: white;
}

.img {
    margin-top: 30px;
    margin-left: 30px;
    padding-right: 20px;
    float: left;
}

p {
   margin-top: 30px;
   margin-left: 30px;
   padding-right: 30px;
   padding-bottom: 30px; 
   text-align: justify; 
   font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin-top: 110px;
    border: 0px;
    padding: 3px;
    background-color: #4aaaa5;
}

.footer {
    padding: 30px;
    padding-bottom: 3px;
    background-color: grey;
    text-align: center;
    font-size: small;
    font-family: sans-serif;
    color: white;
}

.grid { 
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 87px;
    list-style: none;
    margin-top: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
    position: relative;
    max-width: 960px;
    
}

h3 {
    position: absolute;
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4aaaa5;
    text-align: center;
    color: white;
    font-family: serif;
    width: 200px;
}